 body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: rgb(243, 241, 238);
    }
    header h1 {
        text-align: center;
    }
    
.contact-box{
    background: #f2f6fa;
    padding: 40px;
}
.contact-box h2{
    margin-bottom: 20px;
    font-weight: 600;
}
.form-control{
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
}
.form-control:focus{
    border-color: #0d6efd;
}
.btn-primary{
    padding: 10px 25px;
    font-size: 16px;
}
.info-icon{
    background: #1e47ff;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: auto;
    margin-bottom: 15px;
}
.info-text{
    text-align: center;
}
#about {
        background-color: rgb(74, 198, 218);
        padding: 20px;
        border-radius: 5px;
    }
    #services {
        background-color: rgb(43, 210, 180);
        padding: 20px;
        border-radius: 5px;
    }
    #contact {
        background-color: rgb(97, 236, 234);
        padding: 20px;
        border-radius: 5px;
    }
    .icon-box {
            padding: 25px;
            border-radius: 12px;
            background: #fff;
            box-shadow: 0 3px 10px rgba(0,0,0,0.1);
            transition: 0.3s;
        }
        .icon-box:hover {
            transform: translateY(-5px);
        }
        .section-title {
            font-weight: 700;
            margin-bottom: 20px;
        }
    footer {
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px 0;
    }
    .social-links a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    transition: 0.3s;
    }
    /* .social-links a:hover {
    color: #7c5cff; 
    } */
    .faculty-img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            border-radius: 50%;
        }
        